
# Visual Studio cache/options directory
.vs/
*.aps
*.vcxproj.user
/src/plugins/automation/generated/automation.tlb
/src/plugins/automation/generated/dlldata.c
/src/plugins/automation/generated/salamander_h.h
/src/plugins/automation/generated/salamander_i.c
/src/plugins/automation/generated/salamander_p.c
Intermediate/
Release_x64/
Debug_x64/
Release_x86/
Debug_x86/
Release/
Debug/
*.lnk
*.log
*.err
*.wrn
